@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

* {
  font-family: "Exo 2";   
  font-weight:300;
}
body{            
  background: linear-gradient(45deg, rgb(104, 172, 255) 0%, rgba(135, 92, 207, 1) 29%, rgba(188, 53, 169, 1) 65%, rgba(251, 8, 129, 1) 100%);
  background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
  background-image: linear-gradient( -45deg,   #ffffff, #f2f9ff 91.1%  );
  
  min-height:100vh;    
  margin:0;
  color:black;
  font-family: "Exo 2";       
}
header {
  display:flex;                
  width:100%;
  height:3.5em;
  justify-content:space-between;
  align-items: center;
  position:fixed;     
  z-index:2;  
  background:white;
  border-bottom:1px solid rgba(0,0,0,0.15);
}
header label {
  margin-left:0.5em;    
  color:dodgerblue;
  font-weight:800;      
}

.menuToggle {
  display: block;
  width: 3em;
  height: 2em;
  margin: 30px auto 10px;
  border:none;
  background:none;
  margin: 0 0.5em 0  0 ;
  cursor:pointer;
}

.menuToggle span:after,
.menuToggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
.menuToggle span:after{
  top: 9px;
}
.menuToggle span {
  position: relative;
  display: block;
}

.menuToggle span,
.menuToggle span:after,
.menuToggle span:before {
  width: 100%;
  height: 5px;
  background-color: #000;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

.menuToggle.active span {
  background-color: transparent;
}
.menuToggle.active span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
.menuToggle.active span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

 

.container {
  display:flex;
  flex:1;
  width:100%;
  height:100%;
}
nav {
  display:flex;                      
  height:calc(100% - 3.5em);
  
  
  margin-top:3.5em;
  width:15em;
  position:fixed;
  flex-direction: column;
  box-shadow: 2px 0 10px rgba(0,0,0,0.15);
  align-items: center;
  text-align:center;
  z-index:1;
  margin-left: -15em;                                  
  transition: all .33s ease-out;
}
nav.active {
  margin-left: 0em;                                  
}

nav a,section nav a {
  width:100%;
  display: flex;
  align-items: center;            
  
  font-variant:small-caps;
  font-weight:700;         
  font-style: italic;
  letter-spacing: 1px;
  
  position:relative;
  text-decoration: none;
  color:black;
  padding: 0.75em 0  0.75em 0;
  overflow: 8px;
  outline: none;
  background:white;
  transition: all 0.35s ease-out ;
}
nav a:before,section nav a:before {
  content:"";
  position: absolute;
  width:0;
  transition: all 0.35s ease-out ;
}

main section nav{
  display:flex;
  margin: 0;
  flex-direction: row;
  height: auto;
  position: relative;
  width:auto;
  justify-content: space-around;
}

nav .icon-svg, section nav .icon-svg,section svg {
  height:1.5em;
  fill: rgb(204, 204, 204);
  margin: 0 0.75em 0 1.5em ;
  transition: all 0.35s ease-out ;
}

nav a.active:before,nav a:hover:before,section nav a:hover:before {
  content:"";
  position:absolute;
  width:0.25em;
  height:100%;
  background: dodgerblue;
}
nav a.active,nav a:hover,section nav a:hover,nav a.active .icon-svg, nav a:hover .icon-svg, section nav a:hover .icon-svg{
  fill:dodgerblue; 
  color:dodgerblue;
}

main section nav a {
  display:inline;
  background:none;
  
} 
main section nav a:hover {
  color:white;
  background:none;
}

main {
  margin-top:3.5em;
  background:rgba(0,0,0,0.1);

  padding:0 3vmin 3vmin 3vmin;
 flex:1;
 margin-left: 0em;
 transition: all 0.35s ease-out ;
 min-height:calc(100vh - 4em);
}
main.active {
  margin-left: 15em;                                  
}

.stats,.activity,.box {
  flex:1;
  margin:1em;
  min-height:5em;
  box-shadow: 0 2px 0 rgba(90,97,105,.21),0 4px 8px rgba(90,97,105,.22),0 10px 10px rgba(90,97,105,.16),0 7px 70px rgba(90,97,105,.2);
  background:white;
  border-radius: 0.5em;
  color:black;
  display:fleX;
  align-items: center;
  justify-content: center;
}
 