@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

* {
  font-family: "Exo 2";
  font-weight: 300;
}

:root {
  /*
  hsl to adjust borders and variations

  */

  --theme-bg-color: #fff;
  --theme-color: black;
  --theme-highlight-color: #52aafc;
  --theme-side-color: #eee;
}

[data-theme="dark"] {
  /*Dark Mode*/
  --theme-bg-color: #444;
  --theme-color: white;
  --theme-highlight-color: #0768fb;
  --theme-side-color: #666;
}

body {
  background: linear-gradient(45deg, rgb(104, 172, 255) 0%, rgba(135, 92, 207, 1) 29%, rgba(188, 53, 169, 1) 65%, rgba(251, 8, 129, 1) 100%);
  background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, rgba(85, 88, 218, 1) 0%, rgba(95, 209, 249, 1) 100.2%);
  background: linear-gradient(to top, var(--theme-bg-color) 91%, var(--theme-side-color)) fixed;
  background: linear-gradient(35deg, #aed5fa 60%, #f0f0f0 100%) fixed;
  min-height: 100vh;
  margin: 0;
  color: var(--theme-color);
  font-family: "Exo 2";
  transition:
    color 0.5s ease background-color 0.5s ease;
}

h1 {
  font-Weight: 800;
  letter-spacing: 1px;
  margin-top: 0em;
  line-height: 1;
}

h4 {
  margin-bottom: 0em;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: var(--theme-color);
  font-size: 1em;
}

header {
  display: flex;
  width: 100%;
  height: 3.5em;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 999;
  top: 0;
  background: var(--theme-bg-color);
  border-bottom: 1px solid var(--theme-side-color);
}

header .icon-svg {
  margin: 0;
  height: 1.75em;
  fill: var(--theme-highlight-color);
}

.searchButton .icon-svg {
  margin: 0;
  height: 1.5em;
  cursor: pointer;
  fill: var(--theme-color);
  transition: all 0.3s;
}

.searchButton {
  height: 100%;
  border: none;
  border-left: 1px solid var(--theme-side-color);
  width: 4.5em;
  background: none;
  display: grid;
  place-content: center;
}

.search input {
  position: absolute;
  top: .6em;
  right: 14em;
  height: 3em;
  width: 0;
  z-index: 1000;
  opacity: 0;
  border: none;
  border-radius: 999px;
  text-indent: 1.5em;
  transform: translateX(100%);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.search.active input {
  width: 50%;

  box-shadow: 0 4px 6px -2px rgba(107, 117, 161, 0.26);
  opacity: 1;
  transform: translateX(0%);
}

.search.active input:focus {
  background: #f5f5f5;
}

.breadcrumb {
  height: 100%;
  width: 12em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-left: 1px solid var(--theme-side-color);
  border-right: 1px solid var(--theme-side-color);
  background: none;
  text-transform: capitalize;
}

.breadcrumb .icon-svg {
  margin: 0;
  height: 1.75em;
  fill: var(--theme-color);
}

header a,
header div {
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-Items: center;
  text-decoration: none;
  font-weight: 800;
  color: var(--theme-highlight-color);
}

header a img {
  height: 2em;
}

header .settings {
  height: 100%;
  width: 4.5em;
  display: grid;
  place-content: center;
  justify-content: center;
  border: none;
  border-left: 1px solid var(--theme-side-color);
  border-right: 1px solid var(--theme-side-color);
  background: none;
}

header .settings .icon-svg {
  margin: 0;
  height: 1.5em;
  fill: var(--theme-color);
}

.dropdownwrap {
  overflow: hidden
}

.dropdown {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.55em;
  min-width: 6.5em;
  right: 3em;
  top: 3.5em;
  position: fixed;
  margin-top: -25%;
  background: var(--theme-bg-color);
  border: 1px solid var(--theme-side-color);
  ;
  box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .11), 0 3px 10px rgba(0, 0, 0, .05), 0 2px 3px rgba(0, 0, 0, .06);
  transition: margin-top 250ms ease-in-out;
}

.dropdown.active {
  margin-top: 0px;
}

.dropdownmenu {
  color: var(--theme-color);

  font-size: 0.75em;
  line-height: 1.75;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}

.dropdownmenu:hover {
  color: var(--theme-highlight-color);
}

.menuToggle {
  display: block;
  width: 3em;
  height: 2em;
  margin: 30px auto 10px;
  border: none;
  background: none;
  margin: 0 0.5em 0 0.5em;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.1, 2.5, 0.32, 2);

}

.menuToggle:active {
  transform: rotate(-1deg);
}

.menuToggle span:after,
.menuToggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;

}

.menuToggle span:after {
  top: 9px;
}

.menuToggle span {
  position: relative;
  display: block;
  ;
}

.menuToggle span,
.menuToggle span:after,
.menuToggle span:before {
  width: 100%;
  height: 5px;
  background-color: var(--theme-color);
  transition: all 0.3s cubic-bezier(0.1, -1, 0.32, -.5);

  border-radius: 2px;

}

.menuToggle.active span {
  background-color: transparent;
}

.menuToggle.active span:before {
  transform: rotate(45deg) translate(4px, 6px);
}

.menuToggle.active span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

.container {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;

}

nav {
  display: flex;
  min-height: calc(100% - 3.5em);
  width: 15em;
  position: fixed;
  flex-direction: column;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);
  align-items: stretch;
  text-align: center;
  z-index: 1;
  margin-left: -15em;
  background: var(--theme-bg-color);
  ;
  transition: all 300ms cubic-bezier(0.68, 0.55, 0.265, -1.15) 110ms;
}



nav.active {
  margin-left: 0em;
  border-radius: 0% 1% 1% 0%;
  color: #ff4500
}

nav a {
  width: 100%;
  display: flex;
  align-items: center;
  font-variant: small-caps;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: var(--theme-color);
  ;
  padding: 0.75em 0 0.75em 0;
  overflow: 8px;
  outline: none;

  transition: all 0.35s ease-out;
}

nav a:before {
  content: "";
  position: absolute;
  width: 0;
  transition: all 0.35s ease-out;
}

main section nav {
  display: flex;
  margin: 0;
  flex-direction: row;
  height: auto;
  position: relative;
  width: auto;
  justify-content: space-around;
}

nav .icon-svg {
  height: 1.5em;
  fill: rgb(204, 204, 204);
  margin: 0 0.75em 0 1.5em;
  transition: all 0.35s ease-out;
}

nav a.active:before,
nav a:hover:before {
  content: "";
  position: absolute;
  width: 0.25em;
  height: 100%;
  background: var(--theme-highlight-color);
}

nav a.active,
nav a:hover,

nav a.active .icon-svg,
nav a:hover .icon-svg {
  fill: var(--theme-highlight-color);
  color: var(--theme-highlight-color);
  font-weight: 800;
  text-shadow: 0 0 1px #3d83c5;
}

main {

  flex: 1;
  margin-left: 0em;
  transition: all 0.15s ease-out 100ms;
  min-height: calc(100vh - 4em);

}

main.active {
  margin-left: 15em;
}

section .container {
  width: calc(100vw - 20em);
  flex-wrap: wrap;
  justify-content: center;
}

main section .container {
  width: 100%;
}

section {
  padding: 0 3vmin 3vmin 3vmin;
}

label {
  font-variant: small-caps;
  font-size: 0.85em;
  letter-spacing: 1px;
}

fieldset {
  width: calc(100% - 2em);
  margin-bottom: 2em;
}

legend {
  font-weight: 800;
}

.field {
  width: 100%;
  position: relative;

}

.fieldrow {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.fieldrow .field {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0.5em;
}

/*
.fieldrow .field:last-child {
  margin: 0;
}
*/
.fieldrow a {
  flex: 1;
}

.field>.input>input,
.box>input {
  width: 100%;
  font-size: 1em;
  display: inline-block;

  line-height: 2em;
  min-width: 10em;
  padding: 2px 2px;
  border: none;

  outline: none;
  background: #eeeeff;
  color: var(--theme-color);
  text-align: center;
  margin-top: 2px;
}

input[type=date],
input[type=time],
input[type=number] {
  text-indent: 3em;
}

/* Input validation */
input:focus {
  background: none;
  color: var(--theme-color);
  box-shadow: 0 2px 0 var(--theme-highlight-color);
}

input:required:valid,
input:required:valid+.switch {
  box-shadow: 0 2px 0 #0b0;
}

.customselect .input input~.switchInvalid {
  box-shadow: -1px 0 0 #f00, 0 1px 0 #f00, 0 -1px 0 #f00, 1px 0 0 #f00;
}

.customselect .input input:focus:required:invalid~.switch.switch--off.switchInvalid,
.customselect .input input:focus:required:invalid~.switch.switch--on.switchInvalid {
  box-shadow: 1px 0 0 #f00, 0 1px 0 #f00, 0 -1px 0 #f00;
}


input+span,
input~span {
  transition: all 0.5s;
  background-position: 0em -5em !important;
}

input:valid:not(:focus):not(:placeholder-shown)+span,
input:valid:not(:focus):not(:placeholder-shown)~span {
  background: url(check.svg) !important;
  background-size: 1em 1em !important;
  background-repeat: no-repeat !important;
  ;
  background-position: .75em .75em !important;
}

input:valid:not(:focus):not(:placeholder-shown)+span svg {
  display: none;
}

input:valid:focus:not(:placeholder-shown)+span svg,
input:valid:focus~span svg {
  display: block;
}

.errorMsg {
  margin: 0.5em;
  padding: 0.25em;
  font-size: 0em;
  font-size: 1em;
  border: 5px solid pink;
  transition: all 0.5s;
}


.input {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.field.bmi {
  text-align: center;

  box-shadow: 0 0 0 1px #bbb;
}





.customselect .input .switch--on {
  margin-left: 3em;
}

.input>span,
.customselect span {
  position: absolute;
  display: grid;
  place-content: Center;
  background: rgba(0, 0, 0, 0.05);
  height: 100%;
  border-right: 2px solid white;
  width: 2.5em
}

.customselect span {
  background: #e2e2f2
}

.input>span>.icon-svg {
  fill: var(--theme-color);
  width: 1.25em;
}

.customselect {
  display: flex;
}

.switch {
  flex: 1;
  color: var(--theme-color);
  cursor: pointer;

  line-height: 2.4em;
  text-align: center;
  height: 2.4em;

  padding: .125em .5em;
  display: block;
  background: #eeeeff;
  transition: .15s ease;
}

.switch.switch--on,
.switch.switch--off,
.switch.switch--on.switchInvalid,
.switch.switch--off.switchInvalid {
  font-variant: unset;
  flex: 1;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+.switch {
  color: var(--theme-bg-color);
}

.switch--on {
  border-right: 1px solid grey;
}

input[type="radio"]:checked+.switch--on,
input[type="radio"]:checked+.switch--off {
  background-color: var(--theme-highlight-color);
}




.btn {
  margin: 1em;
  max-height: max-content;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn svg {
  margin: 0px 0.5em 0px 0px;
  width: 1.5em;
  height: 1, 5em;
  fill: White;
}

.box .btn-google {
  flex: 1;
  background: #cb3f22;
}

.btn-google:hover {
  background: #a5331c;
}

.box .btn-github {
  flex: 1;
  background: #555555;
}

.btn-github:hover {
  background: #333;
}

.box .btn-twitter {
  flex: 1;
  background: #5aa4eb;
}

.btn-twitter:hover {
  background: #3b82da;
}

.box .btn-facebook {
  flex: 1;
  background: #3b5998;
}

.btn-facebook:hover {
  background: #293e69
}

.box button,
.box a {
  margin-top: 1em;
  background: var(--theme-highlight-color);
  color: var(--theme-bg-color);
  border: none;
  border-radius: 0.5em;
  height: 3em;
  min-width: max-content;
  font-size: 1em;
  text-decoration: none;
}

.box a {
  padding: 0 1em 0 1em;
}

.stats,
.activity,
.box,
.activities {
  flex: 1;
  margin: 1em;
  min-height: 5em;
  box-shadow: 0 2px 0 rgba(90, 97, 105, .21), 0 4px 8px rgba(90, 97, 105, .22), 0 10px 10px rgba(90, 97, 105, .16), 0 7px 70px rgba(90, 97, 105, .2);
  background: var(--theme-bg-color);
  border-radius: 0.5em;
  color: var(--theme-color);
  ;
  display: fleX;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-out;
}

.box .container {
  flex-direction: row;
}

.container.grid {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}



.statusMessage {
  padding: 0 0 0 2em;
  color: var(--theme-bg-color);
  line-height: 0;
  background: orange;
  display: flex;
  align-items: center;
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  to {
    padding: 1em 0 1em 2em;
    line-height: 1;
    opacity: 1;
  }
}

.stats,
.activities {
  padding: 1em;
}

.stats,
canvas,
.activities {
  min-width: 17em;
  max-width: 10em;
  flex-direction: column;
  position: relative;
}

.box {
  flex-direction: column;
  margin: 2em 0 1em 0;
  padding: 1em;
}

li.active {
  background-color: #2ed8b6;
}

.profile {
  margin: 2em 0 2em 0;
}

.profile a {
  display: block;
}

.profile a:hover::before,
.profile a.active::before {
  background: none;
}

.profile h4 {
  margin: 0.25em;
  font-weight: 800;
}

.profile h5 {
  margin: 1em 0 0 0;
}

.profile .user-image img {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  border: 6px solid #eee;
  box-shadow: 0 0 5px var(--theme-highlight-color);
}

.activity-lvl {
  width: 100%;
  padding: 0;
  margin: 0;

}

.activity-lvl li {
  display: inline-block;
  width: 15%;
  height: 4px;
  margin: 0 3px;
  background-color: #ccc;
}

.activity-lvl li.active {
  background-color: #2ed8b6;
}

.activities.select {
  display: inline-block;
  box-shadow: 0 0 0 1px var(--theme-color), 0 8px 20px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 120px;
  margin: 0.5em;

  white-space: nowrap;
  min-height: 25px;
  min-width: 100px;
  max-height: max-content;
  display: flex;
  max-width: max-content;
  overflow: hidden;
  text-overflow: ellipsis;

  text-overflow: clip ellipsis;
  transition: all 0.35s ease-out;
}


.activities:hover,
.activities.select.active {
  background: var(--theme-highlight-color);
  color: var(--theme-bg-color);
  border: none;
  box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.2);
}

.btn.activities.select {
  max-height: max-content;
  max-width: max-content;
  height: 5em;
  width: 20em;
}

.stopwatch {
  height: auto !important;
}

.field.duration {
  display: flex;
  flex-direction: row;
  margin: 0 0 0.5em 0;
  align-items: flex-end;
}

.field.duration .field {
  margin: 0;
}

.field.duration button {
  background: none;
  outline: 0;
  cursor: pointer;
}

.field.duration button:focus,
.field.duration button::-moz-focus-inner,
.field.duration button::-moz-focus-outer {
  border: 0;
  outline: none !important;
  box-shadow: none;
  border: none;
}


.statusMessage .icon-svg,
.field.duration button .icon-svg {
  width: 2em;
  height: 2em;
  margin: 0;
  fill: var(--theme-highlight-color);
}

.statusMessage .icon-svg {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: orangered;
  margin: 0;
  fill: var(--theme-bg-color);
  margin-right: 1em;
  padding: 0.25em;
}



.field.duration .reset {
  position: absolute;
  right: 2em;
  outline: 0;
  background: var(--theme-bg-color);
}

.field.time {
  margin-right: 0em !important;
}

.activities .delete {

  position: absolute;
  right: 0;
  top: 0.1em;

  color: var(--theme-color);
  font-weight: 800;
  cursor: pointer;
}

.activities .delete .icon-svg {
  margin: 0;
  height: 1em;
  fill: var(--theme-color);
  ;
}

.activities:hover .delete .icon-svg {
  margin: 0;
  height: 1em;
  fill: var(--theme-bg-color);
}

main.active .gmap {
  width: calc(100vw - 15em);
  ;
  height: calc(100vh - 4em);
  ;
}

main .gmap {
  width: 100vw;
  height: calc(100vh - 4em);
  ;
}


.box.notfound {
  margin-top: 4em;
  perspective: 100%;
}

.notfound h1 {
  width: 2em;
  height: 2em;
  margin-top: -2.5em;
  margin-right: -.5em;
  padding: 1em;

  display: grid;
  place-content: center;

  color: #f5f5f5;
  border-radius: 50%;
  background-color: #39bbdb;
  box-shadow: 0 0 0 15px #f0f0f0;
}

.notfound h1 span {
  font-weight: bold;
  transform-style: preserve-3d;
  animation: spin 8s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(720deg) rotateY(360deg);
  }
}



/* BARCHART */

.chart {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-width: min-content;
  height: 15em;
  background: linear-gradient(to bottom, #efefef 0%, #efefef 24%, #666 1px, #efefef 25%, #efefef 49%, #666 1px, #efefef 50%, #efefef 74%, #666 1px, #efefef 75%);
}

.bar {
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: flex-end;
  transform-origin: 0% 0%;
  align-items: center;
  height: 100%;
  width: 2em;
  overflow: hidden;
  animation: slideUp 1s 1;
}

.colorbox {
  width: 1em;
  height: 1em;
}

.stats svg {
  height: 15em;
}

@keyframes slideUp {
  from {
    transform: translateY(100%) scaleY(0);
  }

  to {
    transform: translateY(0%) scaleY(1);
  }
}



/*************** MEDIA +++++++++++++++++++++++++++++++++*/

@media only screen and (min-width: 12em) and (max-width: 40em) {
  header a div {
    display: none;
  }

  nav .profile {
    margin: 0;
  }

  main.active {
    margin-left: 0;
  }

}

#result3 {
  width: 30em;
  overflow: hidden;
  border: 1px solid black;
}

.scroll-container {
  display: flex;
  pointer-events: none;
  cursor: grab;
}

.vertical {
  min-width: 20em;
}