<!DOCTYPE html>
<html>
<head>
    <title>Exercise Tracker | Free Code Camp</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
	<meta name="description" content="preact-boilerplate">
	<meta name="msapplication-TileColor" content="#673ab8">
	<meta name="msapplication-TileImage" content="./assets/icons/mstile-150x150.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="preact-boilerplate">
	<meta name="application-name" content="preact-boilerplate">
	<meta name="format-detection" content="telephone=no">
	<meta name="theme-color" content="#673ab8">
    <meta property="og:title" content="&#128205; Excercise Tracker" />
    <meta property="og:description" content="API Exercise Tracker for FCC" />
    <meta property="og:image" content="https://cdn.glitch.com/ef2dfb8b-ce44-44d2-9f7b-f7784f2092e4%2F393187.mzJpMo.19ca1e75-885f-4aaa-86fe-c3357e3bb2be.png?1550157739993" />
    <meta property="og:url" content="https://nervous-probation.glitch.me/" />

    <link rel="shortcut icon" href="https://cdn.glitch.com/ef2dfb8b-ce44-44d2-9f7b-f7784f2092e4%2Ffavicon.svg?1550157122428"
        type="image/svg+xml" />
	<link rel="apple-touch-icon" sizes="180x180" href="./assets/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="./manifest.json">

    <link href="style.css" rel="stylesheet" type="text/css">

</head>

<body>
    
 
    ${message}
    <div id="app"></div>
                <script src="./app.js"></script>
     
</body>

</html>
